/*  your css code here. If applicable */
body{
	background: #f5f5f5;
}
.header{
	display: flex;
	justify-content:center;
	background-color:  #011e29;
	margin-bottom:10px;
}
.header .head{
	color: white;
	font-size: 30px;
}
.container{
	display: flex;
	justify-content: center;
	align-item: center;
}
.left{
	height: 140px;
	width: 180px;
	background-color: white;
	margin-right: 5px;
	border-radius:15px;
}
.left h3{
	text-align: center;
}
.left a{
	text-decoration: none;
	color: black;
}
.main{
	height: 200px;
	width: 500px;
	background-color: white;
	margin-right: 5px;
	border-radius:15px;
	text-alingn: center;
}
.main p, h2{
	text-align: center;
}

.right{
	height:290px;
	width: 150px;
	background-color: white;
	border-radius:15px;
	text-align: center;
	padding-bottom: 10px;
}
.right img{
	height: 70px;
	width: 120px;
	padding-bottom: 5px;
}